#gameboard {
	height: 600px;
	width: 600px;
	border: black 2px solid;
	background-image: url('/');
	background-size: 1024px 600px;
	background-repeat: no-repeat;
	display: inline-block;
}

.player {
  background-image: url('../imgs/standingplayer.png');
  position: absolute;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

