#field {
	height: 600px;
	width: 1024px;
	border: black 2px solid;
	background-image: url('https://img1.etsystatic.com/041/0/6363146/il_fullxfull.588581113_71ee.jpg');
	background-size: 1024px 600px;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.player {
	background-image: url('../imgs/standingplayer.png');
	position: absolute;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.burrito {
	background-image: url('../imgs/burrito.png');
	position: absolute;
	width: 60px;
	height: 46px;
	background-size: 60px 46px;
	background-repeat: no-repeat;
}

